DB_URL=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=

#SECURITY config
APP_SECURITY_USERNAME=
APP_SECURITY_PASSWORD=

#MAIL config (Gmail SMTP)
MAIL_USERNAME=
MAIL_PASSWORD=

#FRONTEND URL
FRONTEND_URL=http://localhost:3000